doctype html
html(lang='en')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    block title
    title Administration System
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/jquery.circliful.css')
    script(src='/js/jquery.min.js')
    script(src='/js/jquery.circliful.min.js')
    script(src='/js/bootstrap.min.js')
  body
    block content
